.tile-content {
    border-radius: 4px;
    width: 215px;

    text-align: left;
    min-height: 72px;
}

.tile-value {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 26px;
    font-family: Oswald;
    color: white;
    padding: 9px 10px;
    min-height: 48px;
    margin: 0;
    background-image: url("/images/tile-dots.png");
}

.tile-value > span {
    font-size: 14px;
    font-weight: bold;
    padding: 0 4px;
}

.tile-title {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: 0;
    color: white;
    white-space: nowrap;
    padding: 7px 10px;
    min-height: 29px;
    width: 215px;
    text-overflow: ellipsis;
    overflow: hidden;
}
