.LinearProgressBarWithDetail {
    list-style: none;
    padding: 10px;

}

.LinearProgressBarWithDetail>.display-key {
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    height: 25px;
}


.LinearProgressBarWithDetail>li {
    padding-bottom: 5px;
}


.LinearProgressBarWithDetail>li> div
{
    color:#787878;
}

.float-right {
    float: right;
}


